.main_container{
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
    //position: relative;
    position: absolute;
    user-select: none;
}
.animation{
    //position: absolute;
    height: 100vh;
    background: black;
    overflow: hidden !important;
    //left: 0;
    bottom: 0;
    animation-name: SLIDE-IN;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.home{
    font-size: 25px;
    color:#BEE81E;
    font-family: 'Helvetica';
    font-weight: bold;
    text-decoration: none;
}
.back_div{
    display: flex;
    align-items: center;
    //background: #1A1A1A;
    justify-content: flex-start;
    text-decoration: none;
    height: 50%;
}
.animationBack{
    position: absolute;
    height: 100vh;
    background: black;
    overflow: hidden;
    animation-name: SLIDE-OUT;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes SLIDE-IN {
    0%   {
        transform: translate3d(100vw, 0, 0)
    }
    100% {
        transform: translate3d(0, 0, 0);
        overflow: hidden;
    }
}

@keyframes SLIDE-OUT {
    100%   {
        transform: translate3d(0, 0, 0)
    }
    0% {
        transform: translate3d(-100vw, 0, 0)
    }
}

.after{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background: transparent;
}


.container{
    width: 100%;
    height: 55%;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}
.backImage{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(2.8);
}
.backImage2{
    height: 60%;
    transform: rotateY(315deg) scale(2,1.2);
}
.rectangle_div{
    overflow: hidden;
    position: absolute;
    display: grid;
    grid-template-rows: 60% 40%;
    justify-content: space-between;
    height: 55%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(rgba( 0, 0, 0, 0.5 ), rgba( 0, 0, 0, 0.5));
}
.success_div{
    overflow: hidden;
    display: grid;
    grid-template-rows: 30% 70%;
    height: 100%;
    width: 100%;
    /*background: rosybrown;*/
}
.stars{
    width: 35%;
}
.div2{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
}
.box{
    width: 400px;
    position: absolute;
    margin-bottom: 5%;
    transform: rotateX(315deg) scale(1.1,1.4);
}

.div3{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.star_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_container{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
}
.rectangle{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
.header{
    display: flex;
    width: 100vw;
    height: 100%;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.errorIcon{
    position: absolute;
    width: 280px;
    margin-bottom: 80px;
}
.header_txt{
    font-family: "Helvetica";
    font-size: 50px;
    color: #BEE81E;
    font-weight: bold;
}
.back_arrow{
    /*width: 100px;*/
}
.only_text{
    font-family: "Helvetica";
    font-size: 40px ;
    display: flex;
    color: #BEE81E;
}
.shadow{
    width: 90%;
    /*margin-bottom: 5%;*/
}
.txt{
    display: flex;
    margin-left: 8px;
    color: #BEE81E;
}
.dollar{
    font-size: 20px;

}
.month{
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}
.box_div{
    background: wheat;
    width: 100%;
    height: 100%;
}


.text_container{
    width: 100%;
    height: 45%;
    display: grid;
    background: transparent;
    overflow: hidden;
    grid-template-rows: 5% 40% 55%;
    color: white;
}
.text_container2{
    width: 100%;
    height: 45%;
    display: flex;
    background: transparent;
    overflow: hidden;
    flex-flow: column;
    justify-content: space-between;
    color: white;
}


.line{
    width: 90%;
    height: 0.5vh;
    background: #BEE81E;
    margin: 0 auto;
}
.text{
    font-family: "Helvetica";
    width: 80%;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.btn_div{
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: hidden;
}
.div{
    width: 100%;
    display: flex;
    flex-flow:column ;
    justify-content: space-between;
}
.input_div{
    width: 90%;
    display: grid;
    height: 50px;
    grid-template-columns: 10% 89%;
    justify-content: space-between;
    align-items: center;
    background: #1A1A1A;
    border: 3px solid #BEE81E;
    border-radius: 35px;
    overflow: hidden;
    margin: 0 auto;
}
.search_icon{
    width: 50%;
    margin: 0 auto;
}
.input{
    border-radius: 35px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    background: #1A1A1A;
    outline: none;
    border: none;
    color: white;
    font-family: 'Helvetica';
;
}
.btn{
    display: grid;
    grid-template-columns: 89% 10%;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    width: 90%;
    border: none;
    background: #BEE81E;
    outline: none;
    border-radius: 35px;
    color: black;
    text-decoration: none;
    font-family: "Helvetica";
    cursor: pointer;
    margin: 10px auto 0;
    overflow: hidden;
}
.btn_text{
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    color: black;
    text-decoration: none;
}
.arrow{
    width: 30%;
    margin: 0 auto;
}

.title{
    color: #BEE81E;
    font-family: 'Helvetica';
    font-weight: bold;
    display: flex;
    font-size: calc(4vw + 2vh);
    justify-content: center;
}
@media screen and (max-width: 480px){
    .header_txt{
        font-size: 45px;
    }
    .only_text{
        font-size: 35px;
    }
    .text{
        font-size: 20px;
        line-height: 25px;
    }
    .box{
        width: 380px;
        margin-bottom: 7%;
    }
    .btn{
        height: 43px;
    }
    .input_div{
        height: 40px;
    }
    .btn_text{
        font-size: 15px;
    }
    .shadow{
        width: 100%;
        margin-bottom: 8%;
    }
    .input{
        font-size: 15px;
    }
}

@media screen and (max-width: 420px){
    .header_txt{
        font-size: 40px;
    }
    .only_text{
        font-size: 30px;
    }
    .box{
        width: 350px;
    }
    .shadow{
        margin-bottom: 15%;
    }
    .errorIcon{
        width: 250px;
    }
}

@media screen and (max-width: 350px){
    .header_txt{
        font-size: 35px;
    }
    .only_text{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
    }
    .shadow{
        margin-bottom: 30%;
    }
    .box{
        width: 330px;
        margin-bottom: 9%;
    }
    .btn{
        height: 33px;
    }
    .btn_text{
        font-size: 10px;
    }
    .input{
        font-size: 10px;
    }
    .input_div{
        height: 30px;
    }

}
@media screen and (max-width: 280px){
    .header_txt{
        font-size: 30px;
    }
    .only_text{
        font-size: 15px;
    }
    .btn{
        height: 23px;
    }
    .input_div{
        height: 20px;
    }
    .box{
        width: 280px;
        margin-bottom: 15%;
    }
    .errorIcon{
        width: 200px;
    }
}
@media screen and (max-width: 220px){
    .header_txt{
        font-size: 20px;
    }
    .btn{
        height: 18px;
    }
    .input_div{
        height: 15px;
    }

}